filter {
  if [qqq] == "qwerty" {
	grok {
		match => {"message" => "%{YEAR}:%{MONTHNUM}:%{MONTHDAY} %{TIME} (?<SOME_TEXT>.+) T=%{NUMBER:ttt:int}"}

	}
      mutate {
        add_field => { "my_new_field" => "my_new_value" }
  	}
	
  }
}


